.TodoLogo {
    display: flex;
    width: 50px;
    padding: 20px;
    @media screen and (max-width: 500px) {
    width: 25px;
    }
}

.Content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin: 0 auto;
}

