.LoadingTodo-text {
  margin: 24px 24px 24px 24px;
  width: calc(100%-120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.LoadingTodo-icon {
  border: 10px solid #eee;
  border-top: 10px solid  #1c1c1c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.7s linear infinite;
  margin: 20px auto;
}

  @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }

  }
